<h2 class="showing-{{ categoryVisible }}">
  <a href="#" (click)="showStatsFor('hitting')" class="hitting">🏏 Batters</a>
  <a href="#" (click)="showStatsFor('pitching')" class="pitching">⚾ Pitchers</a>
</h2>

<div class="table-wrapper">
<table class="players">
  <colgroup class="colgroup-links"></colgroup>
  <colgroup class="colgroup-player"></colgroup>
  <colgroup *ngFor="let statInfo of showStatsInfo">
  </colgroup>
  <thead>
    <!--just grab hitting for now-->
    <tr>
      <th>Links</th>
      <th>Player</th>
      <th>Team</th>
      <th>🌟</th>
      <th>Points</th>
      <th>P / 🌟</th>
      <th *ngFor="let statInfo of showStatsInfo">
        <abbr title="{{ statInfo.label }}">
          {{ statInfo.labelBrief }}
        </abbr>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let player of players">
      <td>
        <ul class="player-links">
          <li><a target="_blank" href="{{ player.getBlaseballLink() }}">⚾</a></li>
          <li><a target="_blank" href="{{ player.getWikiLink() }}">📜</a></li>
          <li><a target="_blank" href="{{ player.getViewerLink() }}"></a>🔍</li>
          <li><a target="_blank" href="{{ player.getAstrologyLink() }}">🌛</a></li>
          <li><a target="_blank" href="{{ player.getChangesLink() }}">🦋</a></li>
        </ul>
      </td>
      <td>{{ player.name }}</td>
      <td>.</td>
      <td>.</td>
      <td>{{ player.getPoints(getFormula(categoryVisible),
        getStats(categoryVisible)) }}</td>
      <td>.</td>
      <td *ngFor="let statInfo of showStatsInfo">
        {{ player.getStat(statInfo.dataField) }}
      </td>
    </tr>
  </tbody>
</table>
</div>
