<h2>Settings</h2>

<div class="settings">
  <div class="formula-wrapper">
    <label for="batting-formula">Batting Formula</label>
    <input id="batting-formula" [(ngModel)]="battingFormula"
    class="formula">
  </div>

  <div class="formula-wrapper">
    <label for="pitching-formula">Pitching Formula</label>
    <input id="pitching-formula" [(ngModel)]="pitchingFormula"
    class="formula">
  </div>

  <div class="season-select-wrapper">
    <label for="season-select">Season</label>
    <select id="season-select" class="season-select">
      <option *ngFor="let season of seasons" value="{{ season }}"
      [selected]="season === selectedSeason">
        {{ season }}
      </option>
    </select>
  </div>
</div>

<!--
<table class="settings stats hitting">
  <thead>
    <tr>
      <th *ngFor="let stat of hittingStats">
        <abbr title="{{ stat.full | titlecase }}">{{ stat.abbr | uppercase }}</abbr>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td *ngFor="let stat of hittingStats">
        <input id="{{ stat.abbr }}" [(ngModel)]="stat.default">
      </td>
    </tr>
  </tbody>
</table>
-->

<!--
<table class="settings stats pitching">
  <thead>
    <tr>
      <th *ngFor="let stat of pitchingStats">
        <abbr title="{{ stat.full | titlecase }}">{{ stat.abbr | uppercase }}</abbr>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td *ngFor="let stat of pitchingStats">
        <input id="{{ stat.abbr }}" [(ngModel)]="stat.default">
      </td>
    </tr>
  </tbody>
</table>
-->

